@import "../colors.scss";

* {
  all: unset;
  transition: 200ms ease-out;
}

.combo {
  color: $purple;
}

.bar-class {
  background-color: $bg;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
 }

.bluetooth-main-widget {
  background-color: $bg;
  min-width: 100px;
 }

.clock {
  font-size: 14px;
  font-family: Roboto;
  font-weight: bolder;
  margin-right: 10px;
  color: $fg-alt;
}

.wifi-label {
  font-family: "Proxima Nova";
  font-weight: bold;
  padding: 0px 10px 0px 0px;
  color: $red;
  font-size: 20px;
}

.brightness-icon {
  font-family: "MaterialIcons";
  font-size: 18px;
  margin-left: 5px;
  margin-right: 10px;
  color: $yellow;
}

.bluetooth-icon {
  font-family: "MaterialIcons";
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  color: $red;
}

.battery-icon {
  font-family: "MaterialIcons";
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  color: $green;
}

.wifi-icon {
 font-family: "MaterialIcons";
  margin-left: 5px;
  margin-right: 10px;
  font-size: 18px;
  color: $red; 
}

.audio-icon {
 font-family: "MaterialIcons";
  margin-left: 5px;
  margin-right: 10px;
  font-size: 18px;
  color: $blue; 
}

.powermenu-icon {
 font-family: "MaterialIcons";
 font-weight: bolder;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 18px;
  color: $red; 
}

.mic-icon {
 font-family: "MaterialIcons";
 font-weight: bolder;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 18px;
  color: $cyan; 
}

.memory-circular-progress {
  color: #e0b089;
  background-color: #38384d;
}

.mem-widget {
  background-color: $bg;
}

.iconmem {
  font-family: "Roboto";
  font-size: 10px;
  font-weight: bold;
}

.test {
  background-color: $bg;
}

.power-settings-icon {
 font-family: "MaterialIcons";
 font-weight: bolder;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  color: $cyan; 
}

.brightness-scale trough {
  border-radius: 20px;
  background-color: $gray;
  box-shadow: 0px 0px 7px #141414;
}

.brightness-scale highlight {
  padding: 0.5em;
  border-radius: 20px;
  background: linear-gradient(to right, $yellow-alt, $yellow);
}

.volume-icon {
  font-family: "Favorites";
  font-size: 22px;
  color: $green;
  margin-left: 10px;
  margin-right: 7px;
}

.volume-scale trough {
  border-radius: 20px;
  background-color: $gray;
  box-shadow: 0px 0px 7px #141414;
}

.volume-scale highlight {
  padding: 0.5em;
  border-radius: 20px;
  background: linear-gradient(to left, $green, $green-alt);
}

.bluetooth-label {
  font-family: "Proxima Nova";
  font-weight: bold;
  padding: 0px 10px 0px 0px;
  color: $green;
  font-size: 20px;
}


