* {
    font-family:'Roboto';
    font-size: 14px;
 }

 /* Window */

 window {
    margin: 0px;
    padding: 10px;
    border: 3px solid #c4a7e7;
    background-color: #26233a;
 }

 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Inner Box */

 #inner-box {
    margin: 3px;
    padding: 3px;
    border: none;
    background-color: #26233a;
 }

 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Outer Box */

 #outer-box {
    margin: 3px;
    padding: 3px;
    border: none;
    background-color: #26233a;
 }

 /* Scroll */

 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */

 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: #e0def4;
    background-color: #44475a;
 }

 /* Text */

 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: #e0def4;
 }

 /* Selected Entry */
 
 #entry:selected #text {
    color: #191724;
 }
